@import "src/variables";

.main-screen {
  background-image: url(../../../assets/img/main-screen-bg.png);
  background-size: cover;
  min-height: calc(100vh - 150px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background-color: $black;
  @media only screen and (max-width: $mobile)  {
    min-height: 0;
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.main-screen-text {
  max-width: 520px;
  text-align: right;
  padding: 35px;
  margin-left: auto;
  min-height: 510px;
  box-sizing: border-box;
  @media only screen and (max-width: $mobile) {
    text-align: center;
    max-width: none;
    position: relative;
    min-height: 0;
  }
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: $yellow;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 45px;
  @media only screen and (max-width: $mobile)  {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 25px;
  }
}

p {
  font-size: 30px;
  line-height: 40px;
  color: $grey;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  margin: 0;
  @media only screen and (max-width: $mobile)  {
    font-size: 20px;
    line-height: 24px;
  }
}
